
body{
    margin: 0%;
    padding: 0%;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: rgb(212, 212, 212);
}
header img{
    height: 70px;
    float: left;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.dugmad{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin:auto;
}
.dugmad button{
    border: solid 1px rgb(212, 212, 212);
    border-radius: 25px;
    background-color:rgb(212, 212, 212);
    font-size: 18px;
    color: rgb(119, 119, 119);
    padding: 10px;
    transition: background-color 0.5s;
}
.dugmad button:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.dugmad button:active{
    opacity: 0.6;
}
#showcase{
    background-color: white;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
#showcase img{
    height: 700px;
}
.naslov{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.naslov h2{
    color: rgb(99, 99, 99);
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.naslov h1{
    font-size: 65px;
    margin: 0;
    color: rgb(58, 58, 58);
}
.naslov p{
    color: rgb(124, 124, 124);
}
.prvi{
    border: solid 1px black;
    background-color:rgb(0, 0, 0);
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    transition: background-color 0.5s;
}
.prvi:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: solid 1px black;
}
.prvi:active{
    opacity: 0.5;
}
.drugi{
    border: solid 1px black;
    background-color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: black;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    transition: background-color 0.5s;
}
.drugi:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border: solid 1px black;
}
.drugi:active{
    opacity: 0.5;
}
.content1{
    height: 400px;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
}
.sve{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
}
.sve p{
    padding: 20px;
}
.sve img{
    height: 50px;
    width: 55px;
    padding: 20px;
    padding-top: 40px;
}
.sve h1{
    padding: 0;
    margin: 0;
}
.content2{
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;
}
.sve2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: rgb(212, 212, 212);
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
}
.sve2 p{
    padding: 20px;
}
.sve2 img{
    height: 50px;
    width: 55px;
    padding: 20px;
    padding-top: 40px;
}
.sve2 h1{
    padding: 0;
    margin: 0;
}
.skill{
    width: 100%;
    background-color: rgb(129, 129, 129);
    margin: auto;
    height: 20px;
}
#skillprvi{
    width: 90%;
    background-color: rgb(41, 41, 41);
    height: 100%;
}
#skilldrugi{
    width: 95%;
    background-color: rgb(41, 41, 41);
    height: 100%;
}
#skilltreci{
    width: 75%;
    background-color: rgb(41, 41, 41);
    height: 100%;
}
#skillcetvrti{
    width: 98%;
    background-color: rgb(41, 41, 41);
    height: 100%;
}